# Directories
bin/
out/
obj/
hid/

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.app
*.i*86
*.x86_64
*.hex

# Misc
*.d
*.xcodeproj
*.pgm
*.pptx
.DS_Store
*.pyc
*~$*

# Palabos
tmp/
*.dblite
*.dat

# Latex report intermediate files
report/*.out
report/*.aux
report/*.lof
report/*.log
report/*.gz
report/*.toc
report/*.bbl

*.blg

*.nrg

*.blg
